ffmpeg -i "C:\Users\ecanaveras\Google Drive\dev\android-resources\waudio\resources\Gym_deporte.mp4" -ss 00:00:5 -vframes 1 thumbnails\out.png

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Gym deporte.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Gym deporte.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Colores General.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Colores General.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Headset general.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Headset general.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Inglaterra mundo.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Inglaterra mundo.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Juntos Amor.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Juntos Amor.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Mix general.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Mix general.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Paz Romance.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Paz Romance.png"

ffmpeg -i "D:\DATA\Pictures\Project Waudio\Renders\out\Vinilo general.mp4" -ss 00:00:5 -vframes 1 "thumbnails\Vinilo general.png"